<sky-page-summary>
  <sky-page-summary-image>
    <sky-avatar
      [name]="'Triton Brewing Co.'"
      [src]="'https://brewerydb-images.s3.amazonaws.com/brewery/Q1n2wz/upload_PsJrv6-squareMedium.png'"
      [canChange]="false">
    </sky-avatar>
  </sky-page-summary-image>
  <sky-page-summary-title>
    Railsplitter
  </sky-page-summary-title>
  <sky-page-summary-subtitle>
    Triton Brewing Co.
  </sky-page-summary-subtitle>
  <sky-page-summary-content>
    <p>Our flagship beer, and a true example of the style, the Railsplitter India Pale Ale (IPA) is a fresh golden brew with noticeable citrus and floral aromas balanced on a nice malty backbone with a dry finish.</p>
  </sky-page-summary-content>
  <sky-page-summary-key-info>
    <sky-key-info>
      <sky-key-info-value>
        American IPA
      </sky-key-info-value>
      <sky-key-info-label>
        Style
      </sky-key-info-label>
    </sky-key-info>
    <sky-key-info>
      <sky-key-info-value>
        7%
      </sky-key-info-value>
      <sky-key-info-label>
        ABV
      </sky-key-info-label>
    </sky-key-info>
    <sky-key-info>
      <sky-key-info-value>
        70
      </sky-key-info-value>
      <sky-key-info-label>
        IBU
      </sky-key-info-label>
    </sky-key-info>
  </sky-page-summary-key-info>
</sky-page-summary>
