<sky-card [size]="large" [selectable]="false" *ngIf="beer">
  <sky-card-title>
    <img src="{{beer.brewery.imageSmallUrl}}"/>
    <sky-key-info>
      <sky-key-info-value>
        {{beer.name}}
      </sky-key-info-value>
      <sky-key-info-label>
        <span id="breweryName">{{beer.brewery.name}}</span>
        <span id="beerStyle">{{beer.style}}</span>
      </sky-key-info-label>
    </sky-key-info>
  </sky-card-title>
  <sky-card-content>
    <div class="keg-info">
      <div>
        <h1 class="keg-remaining-percent">{{beer.keg.getPercentRemaining()}}%</h1>
        <h3 class="keg-label">{{beer.keg.kegTypeLabel}}</h3>
      </div>
    </div>
    <div class="keg-remaining-icon">
      <svg width="80px" height="100px">
        <defs>
          <filter id="keg-fill" x="0%" y="0%">
            <feFlood [attr.flood-color]="getSvgFillColor(beer.keg.getPercentRemaining())"/>
            <feOffset [attr.dy]="convertSvgFill(beer.keg.getPercentRemaining())"/>
            <feComposite operator="in" in2="SourceGraphic"/>
            <feComposite operator="over" in2="SourceGraphic"/>
          </filter>
        </defs>
        <image [attr.filter]="'url(#keg-fill)'" xlink:href="~/assets/beer-keg.svg" width="80px" height="100px"/>
      </svg>
    </div>
    <p>
      <sky-format
        text="{0} remaining, about {1}."
        [args]="[ouncesValue, pintsValue]">
      </sky-format>
      <ng-template #ouncesValue>
        <strong>{{this.beer.keg.getOuncesRemaining()}} ounces</strong>
      </ng-template>
      <ng-template #pintsValue>
        <strong>{{beer.keg.getPintsRemaining()}} pints</strong>
      </ng-template>
    </p>
    <p>
      <sky-format
        text="A beer was last poured {0} ago."
        [args]="[lastBeerPourValue]">
      </sky-format>
      <ng-template #lastBeerPourValue>
        <strong>{{(sensor.metadata.lastBeerPour * 1000) | dateAgo}}</strong>
      </ng-template>
    </p>
  </sky-card-content>
  <sky-card-actions>
    <sky-dropdown buttonType="context-menu">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button" (click)="openBeerInfo()">View beer info</button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">Edit settings</button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </sky-card-actions>
</sky-card>
