<sky-card [size]="cardSize" [selectable]="false" *ngIf="beer">
  <sky-card-title>
    <img src="{{beer.brewery.imageSmallUrl}}"/>
    <sky-key-info>
      <sky-key-info-value>
        <!-- <span [class.small-card-title]="cardSize === 'small'">{{beer.name}}</span> -->
        {{beer.name}}
      </sky-key-info-value>
      <sky-key-info-label>
        <span id="breweryName" [class.small-card-title]="cardSize === 'small'">{{beer.brewery.name}}</span>
        <span id="beerStyle">{{beer.style}}</span>
      </sky-key-info-label>
    </sky-key-info>
  </sky-card-title>
  <sky-card-content>
    <div class="keg-info">
      <div *ngIf="cardSize === 'large'">
        <h1 class="keg-remaining-percent">{{beer.keg.getPercentRemaining()}}%</h1>
        <h3 class="keg-label">{{beer.keg.kegTypeLabel}}</h3>
      </div>
      <div *ngIf="cardSize === 'small'">
        <h3 class="keg-remaining-percent">{{beer.keg.getPercentRemaining()}}%</h3>
        <h5 class="keg-label">{{beer.keg.kegTypeLabel}}</h5>
      </div>
    </div>
    <div class="keg-remaining-icon">
      <svg [attr.width]="cardSize === 'large' ? '80px' : '40px'" [attr.height]="cardSize === 'large' ? '100px' : '50px'">
        <defs>
          <filter id="keg-fill" x="0%" y="0%">
            <feFlood [attr.flood-color]="getSvgFillColor(beer.keg.getPercentRemaining())"/>
            <feOffset [attr.dy]="convertSvgFill(beer.keg.getPercentRemaining())"/>
            <feComposite operator="in" in2="SourceGraphic"/>
            <feComposite operator="over" in2="SourceGraphic"/>
          </filter>
        </defs>
        <image [attr.filter]="'url(#keg-fill)'"
          xlink:href="~/assets/beer-keg.svg"
          [attr.width]="cardSize === 'large' ? '80px' : '40px'"
          [attr.height]="cardSize === 'large' ? '100px' : '50px'"/>
      </svg>
    </div>
    <p [class.small-text]="cardSize === 'small'">
      <sky-format
        text="{0} remaining, about {1}."
        [args]="[ouncesValue, pintsValue]">
      </sky-format>
      <ng-template #ouncesValue>
        <strong>{{this.beer.keg.getOuncesRemaining()}} <span *ngIf="cardSize === 'large'">ounces</span><span *ngIf="cardSize === 'small'">oz.</span></strong>
      </ng-template>
      <ng-template #pintsValue>
        <strong>{{beer.keg.getPintsRemaining()}} pints</strong>
      </ng-template>
    </p>
    <p [class.small-text]="cardSize === 'small'">
      <sky-format
        text="A beer was last poured {0} ago."
        [args]="[lastBeerPourValue]">
      </sky-format>
      <ng-template #lastBeerPourValue>
        <strong>{{(sensor.metadata.lastBeerPour * 1000) | dateAgo}}</strong>
      </ng-template>
    </p>
  </sky-card-content>
  <sky-card-actions>
    <sky-icon icon="info-circle" size="lg" (click)="openBeerInfoModal()"></sky-icon>
  </sky-card-actions>
</sky-card>
