sky-card-title sky-key-info {
  display: inline-block;
}

sky-card-title img {
  padding-right: 10px;
  vertical-align: top;
}

sky-card-actions sky-icon {
  color: #0974a1;
  cursor: pointer;
}

sky-card-actions sky-icon:not(:last-child) {
  padding-right: 40px;
}

sky-card-content {
  text-align: center;
  display: block;
}

sky-key-info-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.keg-remaining-percent {
  vertical-align: middle;
  padding-right: 25px;
  display: inline-block;
}

.keg-remaining-percent h1 {
  margin: 0px 0px 10px 0px;
}

.keg-remaining-percent h3 {
  margin: 0px;
}

.keg-remaining-icon {
  vertical-align: middle;
  display: inline-block;
}

#breweryName {
  display: block;
}

#beerStyle {
  font-weight: 100;
}
