sky-card-title sky-key-info {
  display: inline-block;
}

sky-card-title img {
  padding-right: 10px;
  vertical-align: top;
}

sky-card-actions sky-icon {
  color: #0974a1;
  cursor: pointer;
}

sky-card-actions sky-icon:not(:last-child) {
  padding-right: 40px;
}

sky-card-content {
  text-align: center;
  display: block;
}

.keg-info {
  vertical-align: middle;
  padding-right: 25px;
  display: inline-block;
}

.keg-remaining-percent {
  margin: 0px 0px 6px 0px;
}

.keg-label {
  margin: 0px;
}

.keg-remaining-icon {
  vertical-align: middle;
  display: inline-block;
}

#breweryName {
  display: block;
}

#beerStyle {
  font-weight: 100;
}

.small-card-title {
  max-width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.small-text {
  font-size: 12px;
  margin: 6px 0px;
}

@media screen and (min-width: 992px) {
  sky-card {
    margin: auto;
    width: 100px;
  }
}
