<sky-page-summary>
  <sky-page-summary-image>
    <sky-avatar
      [name]="beer.brewery.name"
      [src]="beer.brewery.imageMediumUrl"
      [canChange]="false">
    </sky-avatar>
  </sky-page-summary-image>
  <sky-page-summary-title>
    {{beer.name}}
  </sky-page-summary-title>
  <sky-page-summary-subtitle>
    {{beer.brewery.name}}
  </sky-page-summary-subtitle>
  <sky-page-summary-content>
    <p>{{beer.description}}</p>
  </sky-page-summary-content>
  <sky-page-summary-key-info>
    <sky-key-info>
      <sky-key-info-value>
        {{beer.style}}
      </sky-key-info-value>
      <sky-key-info-label>
        Style
      </sky-key-info-label>
    </sky-key-info>
    <sky-key-info>
      <sky-key-info-value>
        {{beer.abv}}%
      </sky-key-info-value>
      <sky-key-info-label>
        ABV
      </sky-key-info-label>
    </sky-key-info>
    <sky-key-info>
      <sky-key-info-value>
        {{beer.ibu}}
      </sky-key-info-value>
      <sky-key-info-label>
        IBU
      </sky-key-info-label>
    </sky-key-info>
  </sky-page-summary-key-info>
</sky-page-summary>
